<script type="text/javascript">
function submitform(id)
{
  document.forms[id].submit();
}
</script>

<h1><%= @title%></h1>
<% if @query.empty? %>
<p>You did not enter any text. Try again.</p>
<% elsif @length < 0 %>
<p>Sorry, we could not find any results for, '<%= @query%>'.</p>
<% else %>
<p>Showing results for, '<%= @query%>'.</p>
<%= will_paginate %>
<ol>
	<% @movies.each do |movie| %>
	<li>
		<%= link_to movie.title, "/movies/"+movie.id%>
	</li>
	<% end %>
</ol>
<%= will_paginate %>
<% end%>

