<script type="text/javascript">
function submitform(id)
{
  document.forms[id].submit();
}
</script>

<h1><%= @title%></h1>
<table>
	<tr>
		<td><%if @movie.poster%><a href="<%= @movie.poster %>"><img src="<%= @movie.poster%>" width="100px"></a>
			<%else%>
			<img src="http://lnimagecdn.fridaymoviez.com/images/common/no-image.jpg" width="100px">
			<%end%>
		</td><td>
		<p>
			Year: <%if @movie.year%><%= @movie.year%><%else%>n/a<%end%>
			<br/>
			User Rating: <%if @movie.user_rating%><%= @movie.user_rating %>/10<%else%>n/a<%end%>
			<br/>
			MPAA Rating: <%if @movie.rating%><%= @movie.rating%><%else%>n/a<%end%>
			<br/>
			Genres: <%if @movie.genre1%><%= @movie.genre1%><%else%>n/a<%end%><%if @movie.genre2%>, <%= @movie.genre2%><%end%>
			<br/>
			Plot: <%if @movie.plot%><%= @movie.plot%><%else%>n/a<%end%>
		</p></td>
	</tr>
</table>
<%if signed_in? %>
<%if @like == "Like"%>
<form action="/movies/like" method="post" style="display:none">
	<input type="hidden" name="id" value="<%= @movie.imdbid %>">
	<input type="hidden" name="watch_list" value="no">
</form>
<%else%>
<form action="/movies/dislike" method="post" style="display:none">
	<input type="hidden" name="id" value="<%= @movie.imdbid %>">
	<input type="hidden" name="watch_list" value="no">
</form>
<%end%>
<%if @watch == "Add to"%>
<form action="/movies/like" method="post" style="display:none">
	<input type="hidden" name="id" value="<%= @movie.imdbid %>">
	<input type="hidden" name="watch_list" value="yes">
</form>
<%else%>
<form action="/movies/dislike" method="post" style="display:none">
	<input type="hidden" name="id" value="<%= @movie.imdbid %>">
	<input type="hidden" name="watch_list" value="yes">
</form>
<%end%>
<p align="center">
	<input type="button" class="button" value="<%=@like%> this movie" onclick="javascript:submitform('2')"> 
	<input type="button" class="button" value="<%=@watch%> watch list" onclick="javascript:submitform('3')">
</p>
<%end%>
