<h1><%= @user.name %></h1>
<table summary="Profile information">
	<tr>
		<td width="20%" valign="top"><img src="<%= gravatar_for @user %>"></td>
		<td width="40%" valign="top"><strong>My Likes</strong>
		<br/>
		<ol>
			<% @likes.each do |movie| %>
			<li>
				<a href="/movies/<%= movie.imdbid%>"><%= movie.title%></a>
			</li>
			<% end %>
		</ol></td>
		<td width="40%" valign="top"><strong>My Watch List</strong>
		<br/>
		<ol>
			<% @watch_list.each do |movie| %>
			<li>
				<a href="/movies/<%= movie.imdbid%>"><%= movie.title%></a>
			</li>
			<% end %>
		</ol></td>
	</tr>
</table>
