<h1><%=@title%></h1>
<%= will_paginate @movies%>
<ol>
	<% @movies.each do |movie| %>
	<li>
		<a href="/movies/<%= movie.imdbid%>"><%= movie.title%></a>
	</li>
	<% end %>
</ol>
<%= will_paginate @movies%> 
