<div id="header">
	<h1 id="logo-text"><a href="index.html">Cinephilia</a></h1>
	<p id="slogan">Feeding your addiction...</p>
	<div id="header-links">
		<p>			
			<% if signed_in? %>
			<%= link_to "Sign out", signout_path, :method => :delete %>
			<% else %>
			<%= link_to "Sign in", signin_path %> | <%= link_to "Sign up", signup_path %>
			<% end %>
		</p>
	</div>
</div>
<!-- menu -->
<div  id="menu">
	<ul>
		<li>
			<%= link_to "Home", root_path %>
		</li>
		<% if signed_in? %>
		<li>
			<%= link_to "Users", users_path %>
		</li>


		<% end %>
		<li>
			<a href="#">Browse Movies</a>
		</li>
		<li>
			<a href="#">Advanced Search</a>
		</li>
		<li>
			<%= link_to "Help", help_path %>
		</li>
		<li>
			<%= link_to "About", about_path %>
		</li>
	</ul>
</div>
